<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.githrd.finalproject.dao.AddrMapper">

    <select id="selectList" resultType="addr">
        select * from addr order by addr_id
    </select>

    <select id="selectOneFromIdx" parameterType="int" resultType="addr">
        select * from addr where addr_id = #{addr_id} order by addr_id
    </select>

    <insert id="insert" parameterType="addr">
        insert into addr(
            `addr_zipcode`,`addr_line1`,`addr_line2`,`addr_name`
        )values(
            #{addr_zipcode},#{addr_line1},#{addr_line2},#{addr_name}
        )
    </insert>

    <update id="update" parameterType="addr">
        update addr set addr_zipcode=#{addr_zipcode},addr_line1=#{addr_line1}, addr_line2=#{addr_line2},addr_name=#{addr_name}
    </update>

    <delete id="delete" parameterType="addr">
        delete from addr where addr_id=#{addr_id}
    </delete>

</mapper>


