<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first.final_project.dao.BoardMapper">

<select id="selectList" parameterType="board">
    select * from board order by case when board_type='notice' then 0 else 1 end, board_id desc
</select>
    
<select id="selectOneFromIdx" resultType="int" parameterType="board">
    select * from board where board_id=#{board_id} order by board_id desc
</select>

<insert id="insert" parameterType="board">
    insert into board (board_type,board_title,board_content,board_rdate,member_id,owner_id,admin_id)
                values(#{board_type},#{board_title},#{board_content},#{board_rdate}
                    <choose>
                        <when test="board_type == 'support'">
                            #{member_id}
                        </when>
                        <otherwise>
                            null
                        </otherwise>
                    </choose>,
                    <choose>
                        <when test="board_type == 'support'">
                            #{owner_id}
                        </when>
                        <otherwise>
                            null
                        </otherwise>
                    </choose>,
                    <choose>
                        <when test="board_type == 'notice'">
                            #{admin_id}
                        </when>
                        <otherwise>
                            null
                        </otherwise>
                    </choose>
                    )
</insert>

<update id="update" parameterType="board">
    update board set board_type=#{board_type},
                     board_title=#{board_title},
                     board_content=#{board_content},
                     board_rdate=#{board_rdate},
                     member_id = <choose>
                                 <when test="board_type == 'support'">
                                    #{member_id}
                                 </when>
                                 <otherwise>
                                    null
                                    </otherwise>
                                 </choose>,
                     owner_id = <choose>
                                 <when test="board_type == 'support'">
                                    #{owner_id}
                                 </when>
                                 <otherwise>
                                    null
                                 </otherwise>
                                 </choose>,
                     admin_id = <choose>
                                 <when test="board_type == 'notice'">
                                    #{admin_id}
                                 </when>
                                 <otherwise>
                                    null
                                 </otherwise>
                                 </choose>
                     where board_id=#{board_id}
                     and(
                        (board_type='notice' and admin_id=#{admin_id}) 
                        or 
                        (board_type='notice' and (member_id=#{member_id} or owner_id=#{owner_id}))
                        )
</update>

<delete id="delete" parameterType="int">
    delete from board where board_id=#{board_id}
</delete>


</mapper>


