<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first.final_project.dao.CartsMapper">
  <!-- 전체조회  -->
  <!-- <select id="selectList" resultType="carts">
     select * from carts order by carts_id desc
  </select> -->

  <select id="selectList" resultType="carts">
     SELECT 
         c.*,                         -- Carts 테이블의 모든 컬럼을 선택
         s.shop_name   AS shop_name,    -- shop 테이블에서 가게명
         m.menu_name   AS menu_name,    -- Menu 테이블에서 메뉴명
         m.menu_img    AS menu_img,   -- Menu 테이블에서 메뉴이미지명
         m.menu_price  AS menu_price  -- Menu 테이블에서 메뉴가격
      FROM 
         Carts c
      JOIN 
         Menu m ON c.menu_id = m.menu_id
      JOIN 
         shop s ON m.shop_id = s.shop_id;
  </select>


  <!-- Paging별 조회 -->
  <select id="selectPageList" parameterType="Map" resultType="carts">
	select * from
	(
		select
			rank() over(order by carts_id desc) as no,
			c.*
		from
			(select * from carts) c
	) cc
	where no between #{ start } and #{ end }
  </select>


  <!-- 전체레코드수 구하기 
       oracle : nvl()
       mysql  : ifnull() -->
  <select id="selectRowTotal" resultType="int">
     select ifnull(count(*),0) from carts 
  </select>


  <!-- carts_id 에 해당되는 CartsVo 조회  -->
  <select id="selectOne" parameterType="int" resultType="carts">
     select * from carts where carts_id=#{ carts_id }
  </select>


  <!-- 등록 -->
  <insert id="insert" parameterType="carts">
    INSERT INTO Carts(
        carts_quantity, 
        member_id, 
        shop_id,
        menu_id, 
        carts_cdate
    )
    VALUES (
        #{carts_quantity}, 
        #{member_id}, 
        #{shop_id}, 
        #{menu_id}, 
        CURRENT_DATE
    );
  </insert>

  <!-- 삭제 -->
  <delete id="delete" parameterType="int">
     delete from carts
     where carts_id=#{carts_id}
  </delete>

  <!-- 수량 수정 -->
  <update id="update" parameterType="carts">
      update carts 
         set carts_quantity=#{ carts_quantity }
       where carts_id=#{ carts_id }
  </update>

</mapper>












