<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first.final_project.dao.MenuMapper">
  <!-- 전체조회  -->
  <select id="selectList" resultType="menu">
     select * from menu order by menu_id desc
  </select>


  <!-- Paging별 조회 -->
  <select id="selectPageList" parameterType="Map" resultType="menu">
	select * from
	(
		select
			rank() over(order by menu_id desc) as no,
			m.*
		from
			(select * from menu) m
	) mm
	where no between #{ start } and #{ end }
  </select>


  <!-- 전체레코드수 구하기 
       oracle : nvl()
       mysql  : ifnull() -->
  <select id="selectRowTotal" resultType="int">
     select ifnull(count(*),0) from menu 
  </select>


  <!-- p_idx 에 해당되는 PhotoVo 조회  -->
  <select id="selectOne" parameterType="int" resultType="menu">
     select * from menu where menu_id=#{ menu_id }
  </select>

  <!-- 등록 -->
  <insert id="insert" parameterType="menu">
    INSERT INTO Menu(
        menu_category, 
        menu_name, 
        menu_content,
        menu_price, 
        menu_img, 
        menu_popularity, 
        menu_hidden,
        menu_soldout,
        menu_cdate, 
        menu_status, 
        shop_id
    )
    VALUES (
        #{menu_category}, 
        #{menu_name}, 
        #{menu_content}, 
        #{menu_price}, 
        #{menu_img}, 
        #{menu_popularity}, 
        #{menu_hidden}, 
        #{menu_soldout}, 
        CURRENT_DATE,
        1, 
        #{shop_id}
    );
  </insert>

  <!-- 삭제 -->
  <delete id="delete" parameterType="int">
     update menu set menu_status=0
     where menu_id=#{menu_id}
  </delete>

  <!-- 파일명 수정 -->
  <update id="updateFilename" parameterType="menu">
     update menu set menu_img=#{ menu_img } 
     where menu_id=#{ menu_id }
  </update>

  <!-- 내용수정 -->
  <update id="update" parameterType="menu">
      update menu 
         set menu_category=#{ menu_category },
           menu_name=#{ menu_name },
           menu_content=#{ menu_content },
           menu_price=#{ menu_price },
           menu_popularity=#{ menu_popularity },
           menu_hidden=#{ menu_hidden },
           menu_soldout=#{ menu_soldout }
       where menu_id=#{ menu_id }

  </update>



</mapper>












