<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first.final_project.dao.MenuMapper">
  <!-- 전체조회  -->
  <select id="selectList" parameterType="int" resultType="menu">
     select * from menu where shop_id = #{ shop_id } order by menu_id desc
  </select>

  <!-- 메뉴ID에 해당하는 메뉴 1개 조회  -->
  <select id="selectOne" parameterType="int" resultType="menu">
     select * from menu where menu_id=#{ menu_id }
  </select>

   <!-- 가게 번호에 따른 메뉴 리스트 호출  -->
   <select id="selectMenuList" parameterType="int" resultType="menu">
    select * from menu where shop_id = ${shop_id}
   </select>

  <!-- 등록 -->
  <insert id="insert" parameterType="menu">
    INSERT INTO menu(
        menu_name, 
        menu_content,
        menu_price, 
        menu_img, 
        menu_popularity, 
        menu_hidden,
        menu_soldout,
        menu_status, 
        shop_id
    )
    VALUES (
        #{menu_name}, 
        #{menu_content}, 
        #{menu_price}, 
        #{menu_img}, 
        #{menu_popularity}, 
        #{menu_hidden}, 
        #{menu_soldout},
        1, 
        #{shop_id}
    );
  </insert>

  <!-- 삭제 -->
  <delete id="delete" parameterType="int">
     update menu set menu_status=0
     where menu_id=#{menu_id}
  </delete>

  <!-- 파일명 수정 -->
  <update id="updateFilename" parameterType="menu">
     update menu set menu_img=#{ menu_img } 
     where menu_id=#{ menu_id }
  </update>

  <!-- 메뉴 수정 -->
  <update id="update" parameterType="menu">
    UPDATE menu 
    SET menu_name = #{menu_name}, 
        menu_content = #{menu_content}, 
        menu_price = #{menu_price}, 
        menu_popularity = #{menu_popularity}, 
        menu_hidden = #{menu_hidden}, 
        menu_soldout = #{menu_soldout}, 
        menu_mdate = NOW() 
    WHERE menu_id = #{menu_id}
  </update>

  <!-- 가게 정렬 -->
  <select id="selectListValue" parameterType="map" resultType="menu">
    SELECT *
    FROM menu
    WHERE shop_id = #{shop_id}
      AND (
    <choose>
      <when test="selectValue == 'rank_popularity'">
                  menu_popularity = 1
      </when>
      <when test="selectValue == 'rank_soldout'">
                  menu_soldout = 1
      </when>
      <when test="selectValue == 'rank_hidden'">
                  menu_hidden = 1
      </when>
    </choose>
      )
  </select>



</mapper>
