<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first.final_project.dao.OrderMapper">
   <!-- 전체조회  -->
   <!-- <select id="selectList" resultType="carts">
     select * from carts order by carts_id desc
  </select> -->

   <select id="selectList" resultType="order">
     SELECT 
         *
      FROM 
         orders
   </select>



   <!-- carts_id 에 해당되는 CartsVo 조회  -->
   <select id="selectOne" parameterType="int" resultType="order">
     select * from Orders where order_id=#{ order_id }
   </select>

   

   <!-- 등록 : !!!!!!!!!!!!!!! payment와 중복된다 -->
   <!-- <insert id="insert" parameterType="order">
    INSERT INTO Orders(
        orders_payment, 
        orders_price, 
        orders_srequest,
        orders_drequest, 
        orders_cdate,
        shop_id,
        addr_id,
        orders_name,
        member_id 
    )
    VALUES (
        #{orders_payment}, 
        #{orders_price}, 
        #{orders_srequest}, 
        #{orders_drequest}, 
        CURRENT_DATE,
        #{shop_id}, 
        #{addr_id}, 
        #{orders_name},
        #{member_id}
    );
   </insert> -->

   <!-- 삭제 -->
   <delete id="delete" parameterType="int">
     delete from Orders
     where order_id=#{order_id}
   </delete>



</mapper>












