<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.githrd.demo_photo.dao.PhotoMapper">

  <!-- 전체조회  -->
  <select id="selectList" resultType="photo">
     select * from photo order by p_idx desc
  </select>
  
  <!-- Paging별 조회 -->
  <select id="selectPageList"  parameterType="Map"  resultType="photo">
	select * from
	(
		select
			rank() over(order by p_idx desc) as no,
			p.*
		from
			(select * from photo) p
	) pp
	where no between #{ start } and #{ end }
  </select>
  
  
  <!-- 전체레코드수 구하기 
       oralce : nvl()
       mysql  : ifnull() 
  -->
  <select id="selectRowTotal" resultType="int">
     select ifnull(count(*),0) from photo 
  </select>
    
  
  <!-- p_idx 에 해당되는 PhotoVo 조회  -->
  <select id="selectOne" parameterType="int" resultType="photo">
     select * from photo where p_idx=#{ p_idx }
  </select>
  
  <!-- 사진등록 -->
  <insert id="insert"  parameterType="photo">
     insert into photo values( null,
                              #{ p_title },
                              #{ p_content },
                              #{ p_filename },
                              #{ p_ip },
                              now(),
                              #{ mem_idx },
                              #{ mem_name }
                              )
  </insert>

  <!-- 삭제 -->
  <delete id="delete"  parameterType="int">
     delete from photo where p_idx=#{ p_idx }
  </delete>
  
  <!-- 파일명 수정 -->
  <update id="updateFilename" parameterType="photo">
     update photo set p_filename=#{ p_filename } 
     where p_idx=#{ p_idx }
  </update>
  
  <!-- 내용수정 -->
  <update id="update" parameterType="photo">
     update photo 
         set p_title=#{ p_title },
             p_content=#{ p_content },
             p_ip=#{ p_ip },
             p_regdate=now() 
     where p_idx=#{ p_idx }
  </update>
  
  
  
</mapper>












