<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first.final_project.dao.ReviewsMapper">


    <insert id="insert" parameterType="reviews">
        insert into reviews (
                            reviews_rating,
                            reviews_content,
                            reviews_cdate,
                            member_id,
                            menu_id,
                            shop_id
                    )values (
                            #{reviews_rating},
                            #{reviews_content},
                            sysdate(),
                            #{member_id},
                            #{menu_id},
                            #{shop_id}
                            )
    </insert>

    <insert id="insert_img" parameterType="reviewsImage">
        insert into reviews_imges (reviews_img, reviews_id) values(#{reviews_img}, #{reviews_id})
    </insert>

</mapper>