<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first.final_project.dao.ReviewsMapper">
    <!-- select reviews + reviews_images -->
    <resultMap id="reviewsMap" type="reviews">
        <result property="reviews_id" column="reviews_id"/>
        <result property="reviews_rating" column="reviews_rating"/>
        <result property="reviews_content" column="reviews_content"/>
        <result property="reviews_cdate" column="reviews_cdate"/>
        <result property="shop_name" column="shop_name"/> 
        <result property="orders_id" column="orders_id"/><!-- Add this line -->
        <collection property="reviews_img_list"
                    ofType="reviewsImages"
                    column="reviews_id"
                    select="selectImageList"/>
    </resultMap>
    
    <select id="selectImageList" resultType="reviewsImages">
        select * from reviews_images where reviews_id = #{reviews_id}
    </select>

    <select id="selectList" parameterType="int" resultMap="reviewsMap">
        select 
            r.* , o.orders_name as orders_name,
                    o.orders_price as orders_price, s.shop_id, s.shop_name,
            m.member_id, m.member_name
        from 
            reviews r
        inner join
            orders o on o.orders_id = r.orders_id
        inner join 
            shop s on o.shop_id = s.shop_id 
        inner join 
            member m on o.member_id = m.member_id
        where m.member_id = #{member_id}
    </select>
    
    <select id="getReviewIdFromOrderId" parameterType="int" resultType="Int">
        select reviews_id from reviews where orders_id = #{orders_id}
    </select>

    <select id="getImageForReviews" parameterType="int" resultType="String">
        select reviews_img from reviews_images where reviews_id = #{reviews_id}
    </select>

    <!-- insert reviews -->
    <insert id="insert" parameterType="reviews">
        insert into reviews (
                            reviews_rating,
                            reviews_content,
                            reviews_cdate,
                            orders_id
                    )values (
                            #{reviews_rating},
                            #{reviews_content},
                            sysdate(),
                            #{orders_id}
                            )
    </insert>

    <!-- insert reviews_images   -->
    <insert id="insert_img" parameterType="reviewsImages">
        insert into reviews_images(
                                    reviews_img,
                                    reviews_id
                                    )
                            values(
                                    #{reviews_img},
                                    #{reviews_id}
                                    )
    </insert>

    <!-- delete reviews -->
    <delete id="deleteReviews" parameterType="int">
        delete from reviews where reviews_id = #{reviews_id}
    </delete>


</mapper>