<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="first.final_project.dao.ReviewsMapper">

    <resultMap id="reviewsMap" type="reviews">
        <result property="reviews_id" column="reviews_id"/>
        <collection property="reviews_img_list"
                    column="reviews_id = reviews_id"
                    select="selectImgList"/>
    </resultMap>
    
    <select id="selectImgList" resultType="reviewsImges">
        select * from reviews_imges where reviews_id = #{reviews_id}
    </select>

    <!-- <select id="selectList" resultType="reviews">
        select * from reviews
    </select> -->

    <select id="selectList" resultMap="reviewsMap">
        select 
            r.* , o.orders_name 
        from 
            reviews as r
        join
            orders as o on r.orders_id = o.orders_id
        join 
            shop as s on o.shop_id = s.shop_id 
    </select>

    <!-- reviews table insert -->
    <insert id="insert" parameterType="reviews">
        insert into reviews (
                            reviews_rating,
                            reviews_content,
                            reviews_cdate,
                            orders_id
                    )values (
                            #{reviews_rating},
                            #{reviews_content},
                            sysdate(),
                            #{orders_id}
                            )
    </insert>

    <!-- reviews_images table insert -->
    <insert id="insert_img" parameterType="reviewsImage">
        insert into reviews_imges (reviews_img, reviews_id) values(#{reviews_img}, #{reviews_id})
    </insert>

</mapper>