<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="first.final_project.dao.ShopMapper">

    <!-- 가게추가 -->
    <!-- <insert id="insert" parameterType="first.final_project.vo.ShopVo"> -->
    <insert id="insert" parameterType="shop">
        insert into shop (
            shop_id,
            shop_name, shop_img, shop_addr1, food_category, shop_call, 
            shop_content, shop_min_price,
            shop_open_hour, shop_close_hour,
            shop_close_day,
            shop_cdate, shop_mdate, owner_id, shop_addr2
        ) values (
            null,
            #{shop_name}, #{shop_img}, #{shop_addr1}, #{food_category}, #{shop_call}, 
            #{shop_content}, #{shop_min_price},
            #{shop_open_hour}, #{shop_close_hour},
            #{shop_close_day},
            default, default, #{owner_id}, #{shop_addr2}
        )
    </insert>

    <!-- 전체 리스트 조회  -->
    <select id="selectList" parameterType="String" resultType="shop">
        SELECT 
        s.*,
        (SELECT COUNT(*) FROM menu WHERE shop_id = s.shop_id) AS menu_count,
        (SELECT COUNT(*) 
        FROM reviews r
        INNER JOIN orders o ON o.orders_id = r.orders_id
        WHERE o.shop_id = s.shop_id) AS reviews_count,
        (SELECT AVG(r.reviews_rating) 
        FROM reviews r
        INNER JOIN orders o ON o.orders_id = r.orders_id
        WHERE o.shop_id = s.shop_id) AS shop_rating,
        (SELECT COUNT(*) 
        FROM ceoreview c
        INNER JOIN reviews r ON c.reviews_id = r.reviews_id
        INNER JOIN orders o ON o.orders_id = r.orders_id
        WHERE o.shop_id = s.shop_id) AS ceoreview_count
        <!-- CASE 
            WHEN s.shop_status ='휴무일' THEN '휴무일' 
            WHEN DAYNAME(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')) = s.shop_close_day THEN '휴무일'
            WHEN TIME('23:59:59') > TIME(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')) 
            and TIME(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')) > TIME(s.shop_open_hour) THEN '영업중'
		    WHEN TIME(s.shop_close_hour) > TIME(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')) THEN '영업중'
            ELSE '영업전'
        END AS status -->
    FROM shop s
        <where>
            <if test="foodCategory != null and foodCategory != 'all'">
                AND food_category = #{foodCategory}
            </if>
        </where>
    </select>

    <update id="updateStatus" parameterType="shop">
        UPDATE shop
        SET shop_status = CASE
            WHEN shop_status = '휴무일' THEN '휴무일'
            WHEN DAYNAME(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')) = shop_close_day THEN '휴무일'
            WHEN TIME('23:59:59') > TIME(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')) 
                AND TIME(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')) > TIME(shop_open_hour) THEN '영업중'
            WHEN TIME(shop_close_hour) > TIME(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')) THEN '영업중'
            ELSE '영업전'
        END
    </update>



    <select id="selectListValue" parameterType="map" resultType="shop">    
        SELECT 
        s.*,
            (SELECT COUNT(*)
                FROM menu WHERE shop_id = s.shop_id) AS menu_count,
            (SELECT COUNT(*) 
                FROM reviews r
                INNER JOIN orders o ON o.orders_id = r.orders_id
                WHERE o.shop_id = s.shop_id) AS reviews_count,
            (SELECT AVG(r.reviews_rating) 
                FROM reviews r
                INNER JOIN orders o ON o.orders_id = r.orders_id
                WHERE o.shop_id = s.shop_id) AS shop_rating,
            (SELECT COUNT(*) 
                FROM ceoreview c
                INNER JOIN reviews r ON c.reviews_id = r.reviews_id
                INNER JOIN orders o ON o.orders_id = r.orders_id
                WHERE o.shop_id = s.shop_id) AS ceoreview_count
    FROM shop s
        <where>
            <if test="food_category !=null and food_category != 'all'">
                AND food_category = #{food_category}
            </if>
            <if test="searchValue != null and searchValue !=''">
                AND shop_name LIKE CONCAT('%', #{searchValue}, '%')
            </if>
        </where>
        <if test="selectValue != null"> 
            ORDER BY 
            <choose>
                <when test="selectValue == 'rank'">
                    shop_id ASC
                </when>
                <when test="selectValue == 'shop_rating'">
                    shop_rating DESC
                </when>
                <when test="selectValue == 'reviews_count'">
                    reviews_count DESC
                </when>
                <when test="selectValue == 'shop_min_price'">
                    shop_min_price ASC
                </when>
            </choose>
        </if>
    </select>

    <select id="selectListAll" resultType="shop">
        select * from shop s 
        inner join owner o on s.owner_id = o.owner_id
    </select>

    <!-- 가게 1개 상세보기  -->
    <select id="selectOne" parameterType="int" resultType="shop">
        SELECT 
        s.*,o.owner_license,
        (SELECT COUNT(*) FROM menu WHERE shop_id = #{shop_id}) AS menu_count, 
        (SELECT COUNT(*) 
            FROM reviews r 
            INNER JOIN orders o ON o.orders_id = r.orders_id 
            WHERE o.shop_id = #{shop_id}) AS reviews_count, 
        (SELECT AVG(r.reviews_rating) 
            FROM reviews r 
            INNER JOIN orders o ON o.orders_id = r.orders_id 
            WHERE o.shop_id = #{shop_id}) AS shop_rating
    FROM shop s
    inner join owner o on o.owner_id = s.owner_id
    where s.shop_id = #{shop_id}
    </select>

    <!-- 가게 데이터 불러오기 -->
    <select id="select_modify_owner_id" parameterType="int" resultType="shop">
        select * from shop where owner_id = #{onwer_id}
    </select>

    <!-- shop_id 구하기 -->
    <select id="select_one_shop_id" parameterType="int">
        select shop_id from shop where owner_id = #{owner_id}
    </select>

    <select id="hasShop" parameterType="int" resultType="Boolean">
        select shop_id from shop where owner_id = #{owner_id}
    </select>

    <!-- <select id="selectMenuAndReviewsCount" parameterType="int" resultType="map">
        SELECT 
        (SELECT COUNT(*) FROM menu WHERE shop_id = #{shop_id}) AS menu_count, 
        (SELECT COUNT(*) FROM reviews r 
        INNER JOIN orders o ON o.orders_id = r.orders_id 
        WHERE o.shop_id = #{shop_id}) AS reviews_count
    </select> -->


    <!-- 가게 정보 업데이트 -->
    <!-- <update id="update" parameterType="shop">
        update shop set shop_name = #{shop_name},
                        shop_content = #{shop_content},
                        shop_addr = #{shop_addr},
                        shop_call = #{shop_call},
                        shop_min_price = #{shop_min_price},
                        shop_hours = #{shop_hours},
                        shop_close_day = #{shop_close_day},
                        shop_area = #{shop_area},
                        food_category = #{food_category},
                        shop_status = #{shop_status}
        <if test="shop_img != null">
                            , shop_img = #{shop_img}
        </if>
                    where shop_id = #{shop_id}
    </update> -->

    <update id="update" parameterType="shop">
        update shop set shop_name = #{shop_name},
                        shop_content = #{shop_content},
                        shop_addr1 = #{shop_addr1},
                        shop_addr2 = #{shop_addr2},
                        shop_call = #{shop_call},
                        shop_min_price = #{shop_min_price},
                        shop_open_hour = #{shop_open_hour},
                        shop_close_hour = #{shop_close_hour},
                        shop_close_day = #{shop_close_day},
                        food_category = #{food_category}
                        <if test="shop_img != null">
                            , shop_img = #{shop_img}
                        </if>
                        where shop_id = #{shop_id}
    </update>


    <!-- 가게 삭제하기 -->
    <delete id="delete" parameterType="int">
        delete from shop where shop_id = #{shop_id}
    </delete>

    <update id="setHoliyday">
        UPDATE shop
        SET shop_status = '영업중',
            pause_start = NULL
        WHERE shop_status = 'pause'
          AND TIMESTAMPDIFF(MINUTE, pause_start, NOW()) >= #{pauseDuration};
    </update>


</mapper>